%br
%br
%h3 What would you like to learn about?
/ this is a comment
%form{ :method => "post" , :action => "/save" }
  %tr
    %td
      %input{ :type => "text" , :name => "teachme" , :size => "35" }
    %td
      %input{ :type => "submit" , :value => "submit" }

